/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */



body {
font-family: Verdana, Geneva, sans-serif;
background-color: #eee;
}

div.header {
    background-color: #2758a5;
    color: #f1f1f1;
    margin: 0px;
    padding: 10px;
    padding-left: 20px;
}

div.header button {
    /*float: right;*/
}

h1.title {
    font-size: 32px;
}

.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #022b6d;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #a1a1a1;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
    background-color: #2758a5;
}

div.page {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 0px;
}

div.form {
    /* https://webdesign.tutsplus.com/tutorials/how-to-build-web-form-layouts-with-css-grid--cms-28776 */
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 0px;
    grid-row-gap: 10px;
    margin: 10px;
}

div.content {
	padding: 10px;
}

.align_left {
    float: left;
}
.align_right {
    float: right;
}
.clear_both {
    clear: both;
}

.left {
    grid-column: 1/2;
    justify-self: start;
    align-self: center;
}

.right {
    grid-column: 2/3;
    justify-self: start;
    align-self: center;
}

.ui-button:not(.ui-state-active):not(:hover) {
    background-color: #fff;
}

span.h3 {
    margin: 10px;
    margin-left: 0px;
    font-weight: bold;
    font-size: 1.17em;
}

span.delete_button {
    height: 22px;
    line-height: 23px;
    width: 28px;
    color: #fff;
    padding: 0px;
    text-align: center;
}

span.delete_button:not(.ui-state-active):not(:hover) {
    background-color: #ba3030;
}
span.delete_button:hover {
    background-color: #8e2323;
    color: #fff;
}
span.delete_button:active {
    border-color: #f00;
}
table.data_list td {
	border: 1px solid black;
}
