body {
font-family: sans-serif
}

.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #022b6d;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #a1a1a1;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
    background-color: #2758a5;
}

.content {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

form {
    /* https://webdesign.tutsplus.com/tutorials/how-to-build-web-form-layouts-with-css-grid--cms-28776 */
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 0px;
    grid-row-gap: 10px;
}

.left {
    grid-column: 1/2;
    justify-self: start;
    align-self: center;
}

.right {
    grid-column: 2/3;
    justify-self: start;
    align-self: center;
}

/*.ui-button {
    height: 32px;
}*/
