<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/static/inventory.css" type="text/css">
        <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.1/umd/react.production.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.1/umd/react-dom.production.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/babel" src="/static/inventory.jsx"></script>
        <script src="/static/jquery_setup.js"></script>
        {% endblock %}
    </head>
    <body>
        <div class="sidebar">
            <a href="/">Home</a>
            <a href="/attribute">Attributes</a>
            <a href="/class">Classes</a>
            <a href="/device">Devices</a>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
